<div class="subsidy_list">
    {{#each subsidies}}
    <p>
        city: {{city}}<br> company: {{company}} <br> county: {{county}} <br> description: {{description}} <br> investment data: {{investment_data}} <br> jobs data: {{jobs_data}} <br> location: {{location}} <br> notes: {{notes}}
        <br> parent company: {{parent_company}} <br> program name: {{program_name}} <br> subsidy source: {{subsidy_source}} <br> subsidy type: {{subsidy_type}} <br> subsidy value: {{subsidy_value}} <br> subsidy year: {{subsidy_year}}

    </p>
    {{/each}}
</div>
